<div>
    <div style="text-align: right">
        <button mat-flat-button color="primary" routerLink="/profile"> My profile</button>
    </div>

    <h2>Create post</h2>
    
    <form [formGroup]="postFrom">
        <img class="post-image" [src]="previewImgUrl || 'https://e7.pngegg.com/pngimages/184/821/png-clipart-mangalore-united-states-management-computer-science-business-profile-angle-white.png'
        " alt="user image">
        <input type="file" style="display: none;" #fileInput (change)="onFileSelected($event)">
        <button mat-button (click)="fileInput.click()">Pick File</button>
        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title">
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Caption</mat-label>
            <input matInput formControlName="caption">
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Location</mat-label>
            <input matInput formControlName="location">
        </mat-form-field>
    
        <div style="text-align: right;">
            <button mat-flat-button color="primary" [disabled]="postFrom.invalid" (click)="submit()">Create post</button>
        </div>
    </form>
</div>
